
<div class="card-body border" [class.borderOnClick] = "isSelected">

  <!--img class="card-img-top" src="..." alt="Card image cap"-->
  <product-image
  [product] = 'product'
  ></product-image>  
  
  <h5 class="card-title">{{ product.name }}</h5>
  <p class="card-text"> {{ product.sku }}</p>

  <div class="col sm-8 bg-warning d-flex justify-content-between">
    <span> $ {{ product.price }} </span>
    <button class="text-white bg-success"
    (click) = "productClicked()"
    > Buy </button> 
  </div>
 

</div>